

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.edge {
  stroke-width: 1;
  stroke: #888;
  stroke-opacity: 0.5;
}

.same-owner {
  color: blue;
}

.other-owner {
  color: red;
}
